@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 100;
	src: url('assets/fonts/woff2/KalamehWeb-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 200;
	src: url('assets/fonts/woff2/KalamehWeb-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-ExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/woff2/KalamehWeb-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 500;
	src: url('assets/fonts/woff2/KalamehWeb-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/woff2/KalamehWeb-Semibold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Semibold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 800;
	src: url('assets/fonts/woff2/KalamehWeb-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 900;
	src: url('assets/fonts/woff2/KalamehWeb-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Black.woff') format('woff')  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: bold;
	src: url('assets/fonts/woff2/KalamehWeb-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/woff2/KalamehWeb-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/fonts/woff/KalamehWeb-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
body {
	font-family: KalamehWeb !important;
	direction: rtl;
	margin: 0;
   background-color:#f4f4f4 ;
}

h1, h2, h3, h4, h5, h6{
	font-family: KalamehWeb !important;
}

.wrapper {
	max-width: 900px;
	margin: 20px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px #aaa;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}
header{
    width: 1230px;
    box-shadow: 0 0 15px #cdcdcd;
    height: 80px;
    border-radius: 50px;
    /* برای وسطچین قرار گرفتن هدر */
    display: block;
    margin: 20px auto;
    /* برای وسطچین قرار گرفتن هدر */
    /* برای وسطچین قرار گرفتن سرچ */
    position: relative;
    background-color: #fff;
}
.btnsearch{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px #8e17d1;
    background-image: url(assets/img/icons8-search.svg);
    background-color: #b333ef;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
     /* برای وسطچین قرار گرفتن سرچ */
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    /* برای وسطچین قرار گرفتن سرچ */

}
.basket{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(22, 193, 14, 35%)    ;
    background-image: url(assets/img/icons8-shopping-bag-50.png);
    border: 1px solid #16c10e;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
}
.register{
    width: 150px;
    height: 45px;
    display: inline-block; /* برای اینکه کل بلاک رو نگیره  */
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    background: linear-gradient(45deg, #05baff, #0574ff);
    text-align: center;
    border-radius: 30px;
    color: #fff;
    line-height: 45px; /* همان مقدار height رو میگیره که متن بیاد وسط */
    font-family: KalamehWeb;
    box-shadow: 0 0 10px rgba(5, 116, 255, 35%);
}
.main-menu{
   float: right; /* منو بره سمت راست هدر */
   /* position: absolute;
   top: 50%; زیر منوها برای اینکه وسط قرار بگیرن باید پدرشون که منو های اصلی هست پوزیشن ریلیتیو بگیره و خودشون ابسولوت 
   right: 200px; اما در اینجا پدرشون که منوهای اصلی هستن برای اینکه وسط چین بشن از کلاس ابسولوت استفاده کردن 
   transform: translateY(-50%); پس میایم به روش دیگه منوهای اصلی رو وسط چین یم کنیم*/
   margin: 20px 180px 20px 0px;
}
.main-menu > ul > li{
    float: right; /* زیر منو کنار هم قرار میگیرن */
    margin-left: 20px;
    position: relative;
 }
 .main-menu ul li a{
    color: #716060;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
 }
 .main-menu ul li a:hover{
    background: linear-gradient(45deg, #05baff, #0574ff);
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(5, 116, 255, 35%);
 }
 .main-menu ul li ul {
    width: 240px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px #d4d4d4;
    position: absolute;
    visibility: hidden;
    z-index: 99; /* برای اینکه اولویت بیشتری بگیره و زیر منو نره زیر اسلایدره */
 }
 .main-menu ul li:hover > ul{
    visibility: visible;
 }
 .main-menu ul li ul li{
    position: relative;
 }
 .main-menu ul li ul li ul{
    /* سمت راست قرار گرفتن زیر منوها */
    top: 0;
    right: 100%;
    /* سمت راست قرار گرفتن زیر منوها */
    position: absolute; /* سمت راست قرار گرفتن نسبت به پدرش */
 }
 .main-menu ul li ul li a {
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #efefef;
    border-radius: 0px !important;
 }
 .logo img{
    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
 }
 .wp-center{
    width: 1230px;
    display: block;
    margin: 0 auto;
 }
 .left-banner{
    width: 295px;
    height: 300px;
    float: left;
    border-radius: 8px;
 }
 .left-banner img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
 }
 .home-banner{
    width: 915px;
    height: 300px;
    margin-left: 20px;
    float: right;
    border-radius: 8px;
 }
 .home-banner img{
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
 }
 .clear{
   width: 100%;
   height: 1px;
   float: none; /* چون المان های بالایی فلوت رایت یا لفت گرفتن باعث میشه المان پایینی هم این فلوت رو بگیرن و تداخل ایجاد بشه برای همین قبلش باید فلوت را پاک کرد */
   clear: both; /* کلیر بوث یعنی فلوت رو از هر دو طرف چپ و راست پاک کن */
 }
 /* روش اول */
 /* .banner-container{
   display: flex;
 }
 .banner-item{
   display: block;
   margin: 0 auto;
 }
 .banner-item img{
   width: 293px;
   height: auto;
   margin: 20px 0px 20px 20px;
   border-radius: 8px;
 } */
 /*  */
 /* روش دوم */
 .banner-container{
   margin-top: 20px;
 }
 .banner-item{
   width: calc(25% - 15px);
   float: right;
   margin-left: 20px;
 }
 .banner-item:last-child{
   margin-left: 0px;
 }
 .banner-item img{
   width: 100%;
   height: auto;
   border-radius: 8px;
 }
 .suggest-product{
   float: left;
   width: 253px;
   height: 373px;
   box-shadow: 0 0 15px #d4d4d4;
   border-radius: 8px;
   margin-top: 20px;
   background-color: #fff;
   padding: 20px;
   position: relative;
 }
 .wp-suggest-title{
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid #d4d4d4;
 }
 .wp-suggest-title::after{
  content: "";
  width: 45%;
  height: 2px;
  background: #ff5757;
  display: block;
  position: absolute;
  top: 48px;
 }
 .suggest-product-img{
  width: 250px;
  height: 180px;
  display: block;
  margin: 17px auto;
 }
 .title-product{
  width: 80%;
  display: block;
  text-align: center;
  color: #484747;
  line-height: 1.7;
  margin: 0 auto;
}
.sug-product-price{
  color: #ff5757;
  font-size: 18px;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.add-to-cart{
  color: #ff5757;
  border: 1px solid;
  padding: 13px 50px;
  border-radius: 26px;
  box-shadow: 0 0 15px #ffd0d0;
  display: block;
  text-align: center;
  position: relative;
}
.add-to-cart::after{
  background: url(assets/img/icons8-add-shopping-cart-25.png), #ff5757;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  content: "";
  top: 3px;
  left: 4px;
}
 .discount-box{
   float: right;
   width: 915px;
   height: 300px;
   box-shadow: 0 0 15px #d4d4d4;
   border-radius: 8px;
   margin-top: 20px;
   background-color: #fff;
 }
 .discount-box img{
   width: 250px;
   height: 250px;
   padding: 20px;
   margin: -23px 0px 0px 0px;
}
 .sale-percent{
   width: 40px;
   height: 40px;
   border-radius: 100%;
   box-shadow: 0 0 15px rgba(255, 31, 39, 35%);
   background-image:  linear-gradient(45deg, #ff5757, #ff0f1a);
   color: #fff;
   padding: 6px;
   float: right; /* برای اینکه بره بالا سمت راست قرار بگیره چون پدرش هم فلوتش رایت هست */
   line-height: 40px; /* برای اینکه قیمت در وسط دایره قرار بگیره */
   margin: 10px 20px -10px -25px;
   z-index: 999;
   position: relative;
 }
 .discount-coulmn{
   float: right;
   width: calc(33% - 6px);
   height: auto;
 }
 .regular-price{
   background: #dcdcdc;
   border-radius: 25px;
   padding: 2px 10px 2px 30px;
   margin-left: -27px;
   color: #474444;
   position: relative;
}
.regular-price::after{
  content: "";
  height: 1px;
  width: 80%;
  background: #ff5757;
  display: inline-block;
  position: absolute;
  top:13px;
  transform: rotate(348deg);
  right: 8px;
}
 .product-prices{
   margin-top: 25px;
 }
 .sale-price{
   background: #ff5757;
   color: #fff;
   border-radius: 25px;
   padding: 2px 15px;
   z-index: 999;
   position: relative;
 }
 .discount-coulmn.content{
   padding-right: 25px;
 }
 .discount-coulmn .discount-title{
   margin-top: 40px;
   font-weight: 700;
   font-size: 18px;
   color: #484747;
 }
 .short-desc{
   margin-top: 11px;
   color: #484747;
   line-height: 2;
 }
 .discount-title.short{
   margin-top: 25px;
   font-weight: 700;
   font-size: 15px;
   color: #484747;
 }
 .suggest-time{
   position: relative;
 }
 .suggest-item{
   position: absolute;
   top: 50%;
   left: 140px;
   margin-top: 156px;
   transform: translateY(-50%);
 }
 .wonderfull-suggest{
   font-size: 18px;
   font-weight: 700;
   color: #474444;
   display: block;
 }
.until-time{
   color: #474444;
   line-height: 2;
}
.countdown{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   margin-top: 235px;
   direction: ltr;
   left: 55px;
}
.countdown div{
   display: inline-block;
}
.countdown .no{
   width: 50px;
   height: 50px;
   background-color: #cdcdcd;
   border-radius: 15px;
   display: block;
   text-align: center;
    line-height: 50px;
    color: #474444;
    margin-left: 5px;
}
.sec .no{
   background-color: #ff5757;
   color: #fff;
}
.countdown .txt{
   margin: 7px auto;
   display: block;
   width: fit-content;
   color: #474444;
}
.swiper-pagination.discount{
  right: 93% !important;
  top: 20% !important;
  direction: ltr;
}
.swiper-pagination.discount .swiper-pagination-bullet{
  width: 40px !important;
  height: 18px !important;
  border-radius: 20px !important;
  color: #515151 !important;
  background: #dcdcdc !important;
  padding: 3px 5px !important;
  opacity: 1 !important;
  line-height: 18px !important;
  font-size: 15px !important;
}
.swiper-pagination.discount .swiper-pagination-bullet-active{
  background: #ff5757 !important ;
  color: #fff !important;
  width: 45px !important;
}
.wp-feature{
  background: #ffffff;
  width: 914px;
  height: 100px;
  float: right;
  border-radius: 22px;
  margin-top: 10px;
  box-shadow: 0 0 15px #d3d3d3;
}
.wp-feature div{
  display: flex;
}
.feature{
  width: 16%;
  text-align: center;
  font-size: 12px;
}
.feature img{
  display: block;
  margin: 5px auto;
  width: 65px;
  height: 65px;
}
.most-sells-title{
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.most-sells-title::after{
  content: "";
  display: inline-block;
  width: 85%;
  height: 3px;
  background: #5d5b5b;
  margin-right: 13px;
}
.most-sells-title::before{
  content: "";
  background: url(assets/img/icons8-logo-50.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 45px;
  display: inline-block;
  vertical-align: middle; /*چیدمان عمودی در یک المان تنظیم میکنه */
}
.inner-product-item{
  display: inline-block;
  width: calc(100% - 40px);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px #d3d3d3;
  margin-top: 10px;
  padding: 10px 20px;
}
.product-item{
  width: calc(20% - 20px);
    float: right;
    height: auto;
    text-align: center;
    padding: 0 10px;
}
.product-item img{
  max-width: 100%;
  height: auto;
}
.product-item h3 {
    padding: 5PX 30PX;
    color: #626262;
    line-height: 1.5;
}
.product-item span{
  line-height: 2;
  color: #ff5757;
}
.home-middle-banner{
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
.adl-banner{
  float: left;
  width: 48%;
  height: 100%;
}
.adr-banner{
  float: right;
  width: 50%;
  height: 100%;
}
.adl-banner img , .adr-banner img{
  max-width: 100%;
  border-radius: 8px;
  height: 100%;
}
.home-art-title{
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.home-art-title::after{
  content: "";
  display: inline-block;
  width: 83%;
  height: 3px;
  background: #5d5b5b;
  margin-right: 13px;
}
.home-art-title::before{
  content: "";
  background: url(assets/img/icons8-logo-50.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 45px;
  display: inline-block;
  vertical-align: middle; /*چیدمان عمودی در یک المان تنظیم میکنه */
}
.home-box-article{
  width: 100%;

}
.article-item{
    width: calc(20% - 28px);
    float: right;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin-left: 10px;
}
.article-item:last-child{
  margin-left: 0;
}
.article-item img{
  max-width: 100%;
}
.article-item h3{
  color: #424141;
  line-height: 1.5;
  margin: 10px 0 20px 0;
  font-size: 15px;
}
.article-item .publish-data{
  float: left;
  color: #6a6a6a;
  font-size: 13px;
}
.article-item .publish-data::before{
  width: 25px;
  height: 25px;
  content: "";
  display: inline-block;
  background: url(assets/img/icons8-clock-25.png);
  border-radius: 100%;
  vertical-align: text-bottom;
    margin-left: 5px;
}
.article-item .author{
    border-radius: 25px;
    padding: 2px 10px;
    background: linear-gradient(45deg, #9b35fa, #60afff);
    color: #fff;
    font-size: 13px;
}
.home-brand-title{
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.home-brand-title::after{
  content: "";
  display: inline-block;
  width: 86%;
  height: 3px;
  background: #5d5b5b;
  margin-right: 13px;
}
.home-brand-title::before{
  content: "";
  background: url(assets/img/icons8-logo-50.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 45px;
  display: inline-block;
  vertical-align: middle; /*چیدمان عمودی در یک المان تنظیم میکنه */
}
.home-brands{
  width: 100%;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 0 15px #d3d3d3;
}
.center-item{
  display: flex;
}
.brand-item{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 0 15px #cdcdcd;
  position: relative;
  margin: 20px auto;
}

.brand-item img{
  max-width: 74%;
  max-height: 74%;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
}
footer{
  margin-top: 20px;
  width: 100%;
  background: #333333;
  padding-top: 20px;
border-top: 7px solid #3c7ef7e0;
}
.feature-footer img{
display: block;
margin: 0 auto;
border-radius: 25px;
}
.feature-culmn{
  width: 25%;
  float: right;
  margin-right: 100px;
  margin-top: 20px;
}
.feature-culmn-title{
  font-weight: bold;
  color: #fff;
  line-height: 4;
  font-size: 20px;
}
.feature-culmn p{
  color: #fff;
  line-height: 2;
  font-size: 17px;
}
.feature-culmn ul li a{
  color: #fff;
  line-height: 2;
  font-size: 17px;
}
.feature-culmn img{
  border-radius: 20px;
  margin-left: 10px;
}
.copyright-text{
  width: 100%;
  display: inline-block;
  text-align: center;
}
.copyright-text p{
  display: inline-block;
  background: #fff;
  color: #333333;
  padding: 5px 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 17px #ffffff7a;
  margin-top: 20px;
  line-height: 2;
}
.breadcrumb{
  height: 40px;
  background: #fff;
  color: #8e8d8d;
  border-radius: 50px;
  box-shadow: 0 0 15px #dcdcdc;
  line-height: 40px;
  padding-right: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}
.pages-content{
  width: 870px;
  background: #fff;
  border-radius: 8px;
  float: right;
  padding: 20px;
}
.page-title{
  font-size: 20px;
  font-weight: bold;
  color: #665e5e;
  border-bottom: 2px solid #ececec;
  padding-bottom: 15px;
}
.pages-content p{
  line-height: 3;
  color: #9a9a9a;
  margin-top: 20px;
  text-align: justify;
}
.short-desc{
  line-height: 2 !important;
}
aside{
  width: 300px;
  border-radius: 8px;
  float: left;
}
aside img{
  max-width: 100%;
  border-radius: 8px;
  border-radius: 8px;
}
.sidebar-related-post{
  max-width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px #dcdcdc;
  margin-top: 20px;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.last-post-title{
  font-size: 18px;
  font-weight: bold;
  color: #737373;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  display: block;
}

.sidebar-related-post a img{
  width: 60px;
  height: 60px;
  border-radius: 8px;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 10px;
}
.sidebar-related-post a h3{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
    color: #737373;
    margin-top: 15px;
    width: 65%;
}
.thumbnail-image{
  width: 50%;
  float: right;
}
.thumbnail-image img{
  max-width: 100%;
  border-radius: 10px;
}
.specification-post{
  float: left;
  width: calc(50% - 20px);
  padding-right: 20px;
}
.category-post{
  background: #c0dcff;
  color: #5aa3fd;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  display: inline-block;
}
.post-title{
  font-size: 22px;
  font-weight: bold;
  color: #665e5e;
}
.meta-info span{
  margin-left: 40px;
  color: #9a9a9a;
}
.meta-info{
  margin-top: 20px;
}
.comment::before{
  content: "";
  background: url(assets/img/icons8-comment-25.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-left: 5px;
}
.publish-date::before{
  content: "";
  background: url(assets/img/icons8-pay-date-25.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-left: 5px;
}
.author-name::before{
  content: "";
  background: url(assets/img/icons8-author-25.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-left: 5px;
}
.inner-content{
  border-top: 2px solid #ececec;
  margin-top: 15px;
}
.content404{
  text-align: center;
}
.title404{
  font-size: 40px;
  font-weight: 900;
  color: #386fc1;
  margin: 55px 0 40px 0;
}
.content404 p{
  font-size: 18px;
  color: #313132;
  margin: 40px 0 30px 0;
}
.gotohome{
  background: linear-gradient(45deg, #005ef6, #00aeff);
  color: #fff;
  padding: 10px 65px;
  border-radius: 25px;
  box-shadow: 0 0 20px #41bcff91;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 50px;
}
.content-title{
  text-align: right;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}
.archive-content{
  float: right;
  width: 910px;
}
.archive-item{
  width: calc(25% - 8px);
  padding: 20px 0;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px #d3d3d3;
  background: #fff;
  float: right;
  margin: 0 6px 20px 2px;
}
.archive-item img{
  max-width: 100%;
}
.archive-title{
  color: #3f3d3d;
  line-height: 1.6;
  width: 80%;
  display: block;
  margin: 10px auto;
}
.readmore{
  background: linear-gradient(45deg, #005ef6, #00aeff);
  color: #fff;
  padding: 12px 55px;
  border-radius: 8px;
  box-shadow: 0 0 20px #41bcff91;
  font-weight: 700;
  display: inline-block;
  font-size: 14px;
}